input {
  all: unset;
}
:root {
  --principleAmountCss: 283deg;
  --interestAmountCss: 77deg;
  --color1: #212529;
  --color2: #343a40;
  --color3: #ced4da;
  --a1: #5f7470;
  --a2: #889696;
}

body {
  font-family: "Parkinsans", sans-serif;
  background-color: var(--color1);
  color: var(--color3);
}
h1 {
  font-weight: normal;
}
#pieChart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(
    var(--a1) var(--principleAmountCss),
    var(--a2) var(--interestAmountCss)
  );
}

#mainCont {
  overflow: hidden;
  padding: 0px 10px;
  max-width: 600px !important;
  justify-self: center;
}
.inputCont {
  display: grid;
  grid-template-columns: 12fr 2fr;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.inputCont > input {
  width: 100px;
  text-align: right;
  padding: 4px 8px;
  border-radius: 8px;
  height: 40px;
  align-self: center;
  background-color: var(--color2);
}

#dataCont {
  margin-top: 20px;
  border: 2px solid var(--color2);
  overflow: hidden;
  padding: 0px 19px;
  border-radius: 8px;
}

.dataValue {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.dataValue > p:nth-child(2) {
  width: 100px;
  justify-items: right;
  justify-self: right;
}

#pieChart {
  border: 2px solid var(--color2);
  display: grid;
  justify-self: center;
}

#colorId {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#colorId > div {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

#colorId > div:nth-child(1) > p:nth-child(1) {
  background-color: var(--a1);
  width: 30px;
  border-radius: 8px;
  justify-self: right;
  margin-right: 6px;
}
#colorId > div:nth-child(2) > p:nth-child(1) {
  background-color: var(--a2);
  width: 30px;
  border-radius: 8px;
  justify-self: right;
  margin-right: 6px;
}
#footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}
